.title {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 1rem;
}

.actionButtons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.controls {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.visuallyHidden {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
