.tableWrapper {
  overflow-x: auto;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tableView {
  flex-grow: 1;
}

/* Sortable column headers */
.sortable {
  cursor: pointer;
  user-select: none;
}

.emptyState {
  text-align: center;
  padding: 20px;
  color: #666;
}

@media screen and (max-width: 1024px) {
  .card {
    margin-bottom: 1rem;
  }
  .cardField {
    margin-bottom: 0.5rem;
  }
  .cardField strong {
    display: block;
    margin-bottom: 0.25rem;
  }
  .cardField span.body-text {
    max-width: 100%;
    white-space: normal;
  }
  .cardField [role='group'] {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
